<div id="container" class="bg-dark d-flex align-items-center justify-content-between">
    <div>
        <h5 class="text-light">My Website</h5>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <div class="p-2">
            <i class="fa fa-user" style="font-size: 30px; color: white;" aria-hidden="true"></i>
        </div>
        <div>
            <a class="text-info" routerLink="logIn">Login</a>
            <br>
            <a class="text-info" routerLink="signUp">Register</a>
        </div>
    </div>
</div>