<div class="text-light vh-100" id="body">
    <div id="container1" class="d-flex align-items-center justify-content-end">
        <div>
            <div>
                <h3>Welcome to the community</h3>
            </div>
            <div>
                <h6>Buy.Sell.Earn.Enjoy</h6>
            </div>
            <div>
                <h6>Connect across the world</h6>
            </div>
        </div>
    </div>
    <div>
    <div class="d-flex align-items-end justify-content-evenly">
        <div>
            <i class="fa fa-users" style="font-size: 30px; color: aliceblue;" aria-hidden="true"></i>
            <h6>{{userCount}} Registered Users</h6>
        </div>
        <div>
            <i class="fa fa-bar-chart" style="font-size:30px;color:aliceblue"></i>
            <h6>{{productCount}} Products Available</h6>
        </div>
    </div>
</div>
</div>